h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
}
.text-link {
  color: #dd2476;
  text-decoration: none;
  border-bottom: 1px dotted #dd2476;
}
.text-link:hover {
  color: #ff512f;
  text-decoration: none;
  border-bottom: 1px dotted #ff512f;
}

/* branded buttons and fields */
.btn {
  font-family: "Urbanist", sans-serif;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff99'/%3e%3c/svg%3e");
  border-color: #ff512f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ff512f33;
}
.form-control:focus,
.form-select:focus-within {
  border-color: #ff512f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ff512f33;
}
.form-switch .form-check-input:checked {
  background-color: #dd2476;
  border-color: #ff512f;
}
.alert-sl {
  color: #ffffff;
  background-color: #dd247633;
  border-color: #dd2476;
}

/*  Tom Select Styling for Bootstrap Dark */
.ts-control {
  background: none !important;
  color: #adb5bd !important;
  border: none !important;
  font-size: 1rem !important;
  padding-left: 0px !important;
  margin-top: -6px !important;
}
.ts-control input {
  color: #eeeeee !important;
  font-size: 1rem !important;
}
.ts-dropdown {
  background-color: #212529 !important;
  border: 1px solid #495057 !important;
  border-radius: 6px !important;
  color: #adb5bd !important;
}
.ts-dropdown .active {
  background-color: #495057 !important;
  color: #eeeeee !important;
}
.ts-dropdown .option {
  font-size: 1rem !important;
  padding: 10px !important;
  text-align: left !important;
}
.ts-wrapper {
  --bs-form-select-bg-img: none !important;
  height: auto !important;
  padding-bottom: 0px !important;
}
.multi .ts-control .item {
  border-radius: 20px;
  background-color: #343a40 !important;
  background-size: 200% auto !important;
  color: #ffffff !important;
  padding: 6px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* Bootstrap override */
.dropdown-item.active,
.dropdown-item:active {
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(to right, #dd2476 0%, #ff512f 100%);
}

/* Menu Help */
.navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar-brand,
.navbar-brand:hover {
  border-bottom: none;
}
.switch-mode {
  width: 200px;
  border-radius: 40px;
  padding: 5px;
  padding-left: 10px;
}
.switch-mode div {
  font-size: 1rem;
}
.switch-mode-Player {
  background-image: linear-gradient(to right, #dd2476 0%, #ff512f 100%);
}
.switch-mode-Organiser {
  background-image: linear-gradient(to right, #0346ae 0%, #00fbff 100%);
}
.form-switch-lg input {
  height: 1.5rem !important;
  width: 2.5rem !important;
  margin-top: 0px;
}
.switch-mode .form-text {
  margin-top: 0px;
}
.form-switch-Organiser input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e") !important;
  border-color: #00fbff;
  outline: 0;
  background-color: #0346ae;
}
.form-switch-Organiser input:focus {
  border-color: #0346ae !important;
  box-shadow: 0 0 0 0.25rem #00fbff33;
  background-color: #00fbff;
}
.menu-avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.top-bar {
  position: fixed;
  z-index: 99999;
  top: 0;
}
/* sidebar */
.sidebar {
  width: 300px;
  height: 100%;
  top: 64px;
  position: fixed;
  z-index: 99999;
  margin-left: -240px;
  padding: 10px;
  padding-left: 250px;
  transition: all 0.5s ease-in-out;
}
.sidebar .btn {
  z-index: 99998;
}
.sidebar .btn-text {
  visibility: hidden;
  position: absolute;
  padding-left: 10px;
  transition: all 0s ease-in-out;
  transition-delay: 250ms;
}
.sidebar:hover {
  margin-left: 0px;
  padding-left: 10px;
}
.sidebar-player {
  background: linear-gradient(45deg, #dd2476 0%, #ff512f 100%);
}

.sidebar-organiser {
  background: linear-gradient(45deg, #00fbff 0%, #0346ae 100%);
}
.sidebar:hover .btn-text {
  visibility: visible;
}
.sidebar:hover .sidebar-submenu {
  visibility: visible;
  position: relative;
  transition: all 0.5s ease-in-out;
  transition-delay: 250ms;
}
.sidebar-submenu {
  visibility: hidden;
  position: absolute;
  margin-top: -12px;
  border-radius: 0px 0px 12px 12px;
  padding: 10px;
}
.mobile-sidebar-submenu {
  margin-top: -12px;
  border-radius: 0px 0px 12px 12px;
  padding: 10px;
}

.sidebar-submenu.active, .mobile-sidebar-submenu.active {
  background: #ffffff99;
}

.sidebar-submenu .nav, .mobile-sidebar-submenu .nav {
  padding-left: 10px;
}


.sidebar-submenu .nav a {
  color: #333333;
  text-decoration: none;
  padding: 5px;
}
.sidebar-submenu .nav-item, .mobile-sidebar-submenu .nav-item {
  padding: 5px;
}
.mobile-sidebar-submenu .nav-item a {
  color: #333333;
  text-decoration: none;
  padding: 5px;
}

.sidebar-submenu .nav a:hover,  .mobile-sidebar-submenu .nav a:hover {
  color: #000000;
  text-decoration: none;
}


/* Profile page */
.profile-pic {
  height: 200px;
  border-radius: 100px;
  width: 200px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  opacity: 1;
  background-color: #121212;
}
.profile-pic:hover {
  opacity: 0.5;
}

.large-banner {
  background: linear-gradient(45deg, #0346ae 0%, #dd2476 100%);
}

/* tournament setup */
.btn-grad-2 {
   background-image: linear-gradient(to right, #0346AE 0%, #2FA5FF  51%, #0346AE  100%);
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
 }
 .btn-grad-2:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.list-group {
  border: 1px solid #ADB5BD33;
}
.list-group .list-group-item {
  border: none;
}
.list-group .list-group-item:hover {
  background-color: #212529;
}
.list-group .list-group-item.active {
  background-color: #212529;
  color: #2FA5FF;
  font-weight: bold;
}
.list-group .list-group-item .list-group-inner-item {
  border-left: 3px solid #212529;
  padding-left: 10px;
}
.list-group .list-group-item.active.text-info .list-group-inner-item {
  border-left: 3px solid #0dcaf0;
}
.list-group .list-group-item.active.text-warning .list-group-inner-item {
  border-left: 3px solid #ffda6a;
}
.list-group .list-group-item.active.text-secondary .list-group-inner-item {
  border-left: 3px solid #dc3545;
}

.organiser-progress-banner {
  margin-top: -16px;
  margin-left: -28px;
  margin-right: -40px;
  width: calc(100% + 56px);
  min-height: 50%;
}

.countdown {
  font-size: 4rem;
}
.countdown-sm {
  font-size: 1rem;
  font-family: 'Urbanist', sans-serif;
}
/* PREMIUM  */
.btn-grad-3 {
   background-image: linear-gradient(to right, #FF512F 0%, #EDA00A  51%, #FF512F  100%);
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
 }
 .btn-grad-3:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
